/* === NEWS SECTION === */
.news-section {
  background: #0b0b0b;
  padding: 120px 40px 80px;
  color: #fff;
  min-height: 100vh;
}

.news-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 40px;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: center;
  padding: 0 20px;
}

.news-grid>* {
  flex: 1 1 calc(25% - 28px);
  box-sizing: border-box;
  min-width: 250px;
  display: flex;
}

.news-card {
  background: #111;
  border: 1px solid #222;
  border-radius: 6px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 305px;
  height: 344px;
}

.news-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.08);
}

.news-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 15px 20px;
  flex-grow: 1;
}

.news-date {
  color: #999;
  font-size: 13px;
  margin-bottom: 5px;
}

.news-text {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* === PAGINATION === */
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  gap: 15px;
  margin-top: 40px;
}

.pagination .btn-outline {
  background: transparent;
  border: 1px solid #666;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  width: 93px;
  height: 36px;
  padding: 8px 13px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.pagination .btn-outline:hover {
  background-color: #e63946;
  border-color: #e63946;
}

.pagination .btn-outline.back {
  opacity: 0.5;
}

.pagination .btn-outline.back:hover {
  opacity: 0.5;
  background-color: transparent;
  border-color: #666;
}

@media (max-width: 768px) {
  .news-section {
    padding: 100px 10px 8px;
  }

  .news-grid>* {
    flex: 1 1 100%;
  }

  .news-card {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 390px) {
  .news-section {
    padding: 100px 10px 8px;
  }

  .news-grid>* {
    flex: 1 1 100%;
  }

  .news-card {
    width: 100%;
    height: auto;
  }
}