.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.option h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.option h3:last-child {
  color: #ccc;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s;
}

.option h3:last-child:hover {
  color: #ffa080;
}

.promo,
.event {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.promo img,
.event img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.promo img:hover,
.event img:hover {
  transform: scale(1.03);
}
