/* FILM LIST */
.film-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: calc(25% - 16px);
  border-radius: 10px;
  height: 378px;
  background-color: #1a1f29;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #222836;
}

.card img {
  width: 100%;
  height: 290px;
  border-radius: 10px;
  object-fit: cover;
}

.card h4 {
  font-size: 15px;
  margin: 10px 0 5px;
}

.card p {
  font-size: 13px;
  color: #ccc;
}

.des {
  display: flex;
  justify-content: space-evenly;
}