/* =====================
   GLOBAL RESET + BASE
===================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

:root {
  --background-color: #0b0b0b;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 18px;
}

/* img {
  max-width: 100%;
  height: auto;
} */

